<script type="text/javascript" charset="utf-8">
$(function() {
  new Highcharts.Chart({
	  chart: {
		  renderTo: "weight_chart"
	  },
	  title: {
		  text: "Weight by Day"
	  },
	  xAxis: {
		  type: "datetime"
	  },
	  yAxis: {
		  title: {
			  text: "Weight"
		  }
	  },
	  tooltip: {
		  formatter: function() {
			  return Highcharts.dateFormat("%B %e, %Y", this.x) + ": " + Highcharts.numberFormat(this.y, 1);
		  }
	  },
	  series: [{
		  name: "Weight",
		  pointInterval: <%= 1.day * 1000 %>,
		  pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
		  data: <%= (3.weeks.ago.to_date..Date.today).map { |date| WeighIn.weight_on(date).to_f }.inspect %>
	  }, {
		  name: "% Body Fat",
		  pointInterval: <%= 1.day * 1000 %>,
		  pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
		  data: <%= (3.weeks.ago.to_date..Date.today).map { |date| WeighIn.percent_body_fat_on(date).to_f }.inspect %>
	  }]
  });	
});
</script>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  
	  <div id="weight_chart" style="width:560px; height:300px;"></div>
	  
      <section>
        <%= render 'shared/weigh_in_form' %>
      </section>
    </aside>
	<div class="span8">
	  <h3>Micropost Feed</h3>
	  <%= render 'shared/feed' %>
	</div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>