<%= form_for(@weigh_in) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  Date: <%= Date.today %>
  <div class="field">
	<%= f.hidden_field :day, :value => Date.today %>
    <%= f.text_field :weight, placeholder: "enter weight...(required)" %>
	<%= f.text_field :percent_body_fat, placeholder: "enter % body fat...(optional)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>